:root {
    --cyan-900: #000103;
    --cyan-800: #061528;
    --cyan-700: #11334d;
    --cyan-600: #215971;
    --cyan-500: #378696;
    --cyan-400: #51b7ba;
    --cyan-300: #71dfd4;
    --white: #fdffff;
    --contrast: #ffb703;
}


body,
html {
    font-family: 'Rajdhani', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Rajdhani', sans-serif;
}

.chat_Btn {
    border: 2px solid var(--cyan-600);
    background-color: var(--cyan-700);
    border-radius: 10px;
    color: var(--contrast);
    transition: 400ms;
    height: 3em;
    width: 10em;
    font-weight: 600;
}

.chat_Btn:hover {
    background-color: var(--cyan-700) !important;
    border: 2px solid var(--cyan-600);
    color: var(--contrast);
    transform: scale(1.1);
}

.chat_window {
    position: fixed;
    left: 1%;
    top: 40%;
    width: 25%;
    align-items: start;
    max-height: 35em;
    align-items: start;
    overflow: hidden;

}

.chat_window_body {
    height: 15em;
}

.chat_container_top,
.chat_container_bottom {
    background-image: url('../images/extra_bg.svg');
    background-size: cover;
    background-position: center;
}

.chat_with_us_textarea {
    margin: 0;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 1em;
    background-color: #b9b19cad;
    font-size: 1.25em;
    color: var(--cyan-800);

}

.help {
    font-weight: 600;
    color: var(--contrast);
}

@media (max-width: 1100px) {
    .chat_Btn {
        height: 2em;
        width: 8em;
        font-weight: 400;
        margin: auto !important;
        padding: 0;
    }

    .chat_with_us_textarea {
        font-size: 1em;
        color: var(--cyan-800);

    }

    .chat_window {
        width: 35%;
        height: inherit;
    }

    .chat_with_us_textarea {
        height: 14em;

    }

    .chat_window {
        top: 50%;

    }

}

@media (max-width: 700px) {
    .chat_window {
        width: 35%;
        height: inherit;
    }

    .chat_with_us_textarea {
        height: 10em;
        font-size: .9em;
    }

    .chat_window {
        top: 60%;
    }

    .help {
        font-size: 1rem;
    }
}

@media (max-width: 700px) {
    .chat_window {
        width: 45%;
        height: inherit;
    }

    .chat_with_us_textarea {
        height: 5em;

    }

    .chat_window {
        top: 70%;
        left: -1%;
    }

    .help {
        font-size: 1rem;
    }

    .chat_Btn{
        font-size: .9rem;
    }
}