:root {
    --cyan-900: #000103;
    --cyan-800: #061528;
    --cyan-700: #11334d;
    --cyan-600: #215971;
    --cyan-500: #378696;
    --cyan-400: #51b7ba;
    --cyan-300: #71dfd4;
    --cyan-200: #ccdbdc;
    --white: #fdffff;
    --contrast: #ffb703;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Rajdhani', sans-serif;
}

.footer_section {
    display: flex;
    height: 35m;
    background-image: url('../images/footer.svg');
    background-size: cover;
    object-fit: cover;
    background-position: center;
    width: 100%;
}

.footer_content_wrapper {
    margin: auto;
}

.footer-Logo {
    width: 100%;
    height: 11.5em;
    margin: 3em auto;
    align-items: center;
    text-align: center;
}

#footer_logo {
    height: 11.5em;
}

.link_name {
    color: var(--cyan-400);
    text-shadow: 3px 1px 15px rgb(92, 90, 90);
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
}

.link_container li {
    list-style: none;
    width: 15em;
    padding: 1px;
    margin-left: 1em;
}

.link_container {
    padding: 1em;
    width: 20em;
    text-align: center;
}

.footer_links {
    display: flex;
}

.contact_svg {
    margin-right: 5px;
}

.social_media {
    margin: 5px 0;
}

.social_media_svg {
    width: 2em !important;
    height: 2.5em !important;
    padding: 0 !important;
}

.social_container {
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {

    .footer_links {
        display: block;
    }
}