:root {
    --cyan-900: #000103;
    --cyan-800: #061528;
    --cyan-700: #11334d;
    --cyan-600: #215971;
    --cyan-500: #378696;
    --cyan-400: #51b7ba;
    --cyan-300: #71dfd4;
    --white: #fdffff;
    --contrast: #ffb703;
}


body,
html {
    font-family: 'Rajdhani', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Rajdhani', sans-serif;
}

.profile_item{
    text-decoration: none;
    color: black;
    cursor: pointer;
}